.nav-collapse.collapse { 
    height: 0; 
    overflow: visible; 
}

.navbar{
    margin-bottom: 10px;
}
.heading{
	/*   font-size: 20px; */
    color: lightskyblue;
}

.brand{
    position: relative;
    left: 18px;
    text-align: center;
    margin: auto;
}

#slider{
    margin: auto;
    max-height: 700px;
    max-width: 700px;
}

#btn-features{
    margin-bottom: 5px;
}

#img-more{
    margin-bottom: 5px;
}

#instafeed a {
    padding: 5px 5px 5px 5px;
    margin: 5px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    border-radius: 4px;
    position: relative;
}

.feed-image{
    max-height: 123px;
}

#gal-title{
    margin-bottom: 3px;
}

/*
#panel-left{
    background: rgba(0,0,0,0.5);
}
*/


.flex-caption{
    background-color: #5396fa;
    opacity:0.6;  
    text-align: center;
    padding: 10px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    margin-bottom: 0;
}


.post{
        padding: 12px 22px 22px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
}