body {
}

#content{
    padding-top: 50px;
    background: url('grain.png') repeat top center;
}
.news{
    padding: 5px;
}

/* navbar
.nav-collapse.collapse { 
    height: 0; .
    overflow: visible; 
}

.navbar{
    margin-bottom: 10px;
}
.brand{
    position: relative;
    left: 18px;
    text-align: center;
    margin: auto;
}

.navbar .brand {
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  float: none;
}
*/

.navbar-right {float: right !important;}


/* http://stackoverflow.com/questions/18610249/twitter-bootstrap-3-navbar-navbar-right-outside-navbar-collapse */
@media(max-width:767px){
    .navbar-right {margin-right:20px;}
    .navbar-header:after {clear: none;}
    .navbar-nav.navbar-right > li { float: left; }

    .navbar-collapse:before {clear:both;}

    .navbar-collapse {overflow-y: hidden;}
    .navbar-collapse.in {overflow-y: visible;}
}

.navbar-header{
    padding-left: 10px;
}
.navbar-brand{
    position: relative;
    left: 20px;
    text-align: center;
    margin: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

/* sign in dropdown */
#signin{
    min-width: 225px;
    max-width: 500px;
    padding: 10px;
}

/* any heading */
.heading{
	/*   font-size: 20px; */
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: lightskyblue;

}

/* youtube videos list */
.ui-li-heading{
    margin: 0;
    padding: 0;
}

.yt-image{
    width: 80px;
    height: 80px;
    margin-left: 1px;
}

/* side panel / list font */
li a{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: large;
}

li .glyphicon{
    margin-left: 10px;
    margin-right: 20px;
}
.nav-pills > li > a { /* nav pill size */
    height: 45px;
    line-height: 25px;
}


/* flexslider */
#slider{
    margin: auto;
    max-height: 700px;
    max-width: 720px;

}
.flexslider{
    background:none;
    border:none;
    box-shadow:none;
    margin:0px;
}

.slides li img{
    height:450px;
}

/* see... http://stackoverflow.com/questions/16402502/automatically-resize-image-to-fit-flex-slider*/
@media only screen and (max-width: 480px) {
    .slides li img {height:200px;}
}
@media only screen and (min-width: 480px) and (max-width: 700px) {
    .slides li img {height:270px;}
    #slider {max-width:600px;}
}
@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .slides li img {height:400px;}
}

.flex-caption{
    background-color: #5396fa;
    opacity:0.6;  
    text-align: center;
    padding: 8px;
    font-size: 18px;
    font-weight: normal; /*why some bold?*/
    line-height: 18px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    margin-bottom: 0;
}

/* instafeed */
#instafeed a {
    padding: 5px 5px 5px 5px;
    margin: 5px;
    border: 1px solid #e1e1e1;
    display: inline-block;
    border-radius: 4px;
    position: relative;
}

.instagram-image{
    max-height: 123px;
}

.image-info {
    background:rgba(0,0,205,0.8);
    font-family:sans-serif;
    font-size:1em;
    position:absolute;
    color:#ffffff;
    right:5px;
    top:5px;
    left:5px;
    opacity:0;
    text-align:center;
    text-shadow:0 1px rgba(0,0,0,0.5);
    transition: opacity 100ms ease;
}
#instafeed a:hover .image-info {
    opacity:1;
}

#gal-title{
    margin-bottom: 3px;
}

/* misc */
#btn-features{
    margin-bottom: 5px;
}

#img-more{
    margin-bottom: 5px;
    max-width: 100%;
}

#logoshare{
    border-radius: 50%;
    width:32px;
    height:32px;
}

/* panel */
#panel-title{
    margin: 13px;
    color: yellow;
}

.snap-drawers{
    background: url('panelback2.png');
}
#panel-left a{
    color: white;
}
#panel-left .nav-pills > li > a:hover {
    background-color: #ff0000;
}
/*  font awesome circle color */
.fa-circle{
    color: lightgreen;
}

/* bootstrap panel */
.panel-title{
    color: white;
}
.panel-primary {
  border-color: deepskyblue;
}

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: deepskyblue;
  border-color: deepskyblue;
}

/* news post */
.post{
    padding: 12px 22px 22px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}