.nav-collapse.collapse { 
        height: 0; overflow: visible; 
}

.navbar{
        margin-bottom: 10px;
}
.heading{
	/*   font-size: 20px; */
    color: lightskyblue;
}

.brand{
    position: relative;
    left: 18px;
    text-align: center;
    margin: auto;
}

/*
#panel-left{
    background: rgba(0,0,0,0.5);
}
*/
/*
.flex-caption{
        width: 8.33%;
        position: absolute;
        left: 5;
        bottom: 50;
        background: rgba(0,0,0,0.6);
        color: #fff;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        font-size: 14px;
        line-height: 18px;
}
*/

.post{
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
}